.box2-1 {
    width: 70%;
    font-size: 13pt;
    font-weight: bold;
	margin: 2em auto;
	padding:2em;/*内側余白*/
	background-image: repeating-linear-gradient(-45deg,#d1d5e6 0, #f2f3f7 3px,transparent 3px,transparent 6px);/*ストライプ*/
}