.signup{
    display: flex;
}

.form{
    padding: 50px;
    font-size: 12pt;
    padding: 70px;
}

.deco{
    width: 60%;
    height: 100px;
    padding: 25px;
    margin-top: 20px;
}

.signuptitle{
    margin-bottom: 15px;
}

.field{
    margin-bottom: 10px;
}

.photo{
    width: 70%;
    height: 500px;
}

