// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profiledetail{
    display: flex;
	padding: 60px;
}

.shinchokuritu{
    width: 50%;
}

.profile{
	margin: 2em auto; /* ボックスの余白 */
	padding:3em 2em 2em; /* ボックス内側余白 */
	position:relative; /* 配置(ここを基準に)*/
    border: 1px solid #666;/* ボックスの線 (太さ　種類　色)*/
	background-color:#e2e2e2d0; /* ボックス背景色 */
    width: 30%;
    height: 300px;
	margin-top: 100px;
}
.profile .box-title {
	background-color:#ffffff; /* タイトル背景色 */
	font-size: 15pt;/* タイトル文字の大きさ */
	color: #666; /* タイトル文字色 */
	padding: 7px 12px;/*タイトルの余白*/
	line-height: 1;/*タイトルの行の高さ*/
	position:absolute;	/* 配置(ここを動かす) */
	top: -10px; /*上から（0px）移動*/
	left: 20px; /*左から(0px)移動*/
}

.profile p{
    padding: 10px;
}